<br>
<div class="container bg-light border border-primary rounded">
    <br>
    <h2> Eingegangene Bestellungen:</h2>
    <div class="row">
        <div class="col-8">
            <table class="table thead-dark table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Item</th>
                        <th scope="col">Preiß</th>
                        <th scope="col">Fertigstellen</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of orderList; let i = index" (click)="selectItemFromList(orderList[i])">
                        <th scope="row">{{ i+1 }}</th>
                        <td>{{ item.pid }} - {{ item.title }}</td>
                        <td>{{ item.price | currency :'EUR':true }}</td>
                        <td> <button (click)="complete(item)" class="btn btn-dark">Fertigstellen</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-4">
            <div *ngIf="selectedItemFromList && orderList.length > 0" class="card" style="width: 18rem;">
                <img class="card-img-top"
                    src="https://images.unsplash.com/photo-1574126154517-d1e0d89ef734?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxleHBsb3JlLWZlZWR8M3x8fGVufDB8fHw%3D&auto=format&fit=crop&w=500&q=60"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"> {{ selectedItemFromList.title }} </h5>
                    <p class="card-text"> {{ selectedItemFromList.description }}  - {{ selectedItemFromList.price | currency :'EUR':true }} </p>
                    <button (click)="complete(selectedItemFromList)" class="btn btn-dark">Fertigstellen</button>
                </div>
            </div>
            <div *ngIf="!selectedItemFromList || orderList.length < 1" class="card" style="width: 18rem;">
                <img class="card-img-top"
                    src="https://images.unsplash.com/photo-1606265698533-c17fc6003934?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8cGl6emElMjBvdmVufGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"> Keine Pizza ausgewählt. </h5>
                    <p class="card-text"> - </p>
                    <button (click)="complete(selectedItemFromList)" [disabled]="!selectedItemFromList || orderList.length < 1" class="btn btn-dark">Fertigstellen</button>
                </div>
            </div>
            <br>
        </div>
    </div>
</div>